.nav-list,
nav {
    display: -webkit-box;
    display: -ms-flexbox
}

.hero-p,
.hero-title,
.nav-logo {
    font-family: Montserrat;
    font-style: normal
}

.hero-button,
.hero-list,
nav {
    background-color: #fff
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Montserrat
}

header {
    width: 1440px;
    height: 770px;
    margin-left: auto;
    margin-right: auto
}

html {
    scroll-behavior: smooth
}

nav {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 10%;
    gap: 390px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.nav-top {
    position: fixed;
    z-index: 5
}

.navbar-shrink nav {
    height: 6%
}

.nav-logo {
    color: var(--text-color, #252b42);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: .1px
}

.hero-button,
.hero-p,
.hero-title {
    letter-spacing: .2px
}

.nav-list {
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30%;
    height: 100%;
    list-style: none;
    font-weight: 900
}

.hero-btn,
.hero-left {
    display: -webkit-box;
    display: -ms-flexbox
}

.nav-pogination {
    text-decoration: none;
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-weight: 500
}

.nav-pogination:hover {
    color: #000;
    font-weight: 600
}

.hero {
    width: 100%;
    height: 100%;
    background-image: url(../images/first-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center
}

.hero-left {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 509px;
    height: 380px;
    margin-left: 120px
}

.hero-title {
    color: var(--text-color, #252b42);
    font-size: 50px;
    font-weight: 800;
    line-height: 69px;
    margin-top: 200px
}

.hero-p {
    color: var(--second-text-color, #737373);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 20px
}

.hero-button,
.hero-item-title {
    font-weight: 700;
    font-family: Montserrat;
    font-style: normal
}

.hero-btn {
    display: flex;
    gap: 10px;
    margin-top: 35px
}

.hero-button {
    width: 130px;
    height: 40px;
    border-radius: 37px;
    border: 2px solid #00a0c1;
    color: var(--secondary-color-1, #00a0c1);
    text-align: center;
    font-size: 13px;
    line-height: 28px;
    cursor: pointer
}

.hero-button:hover {
    background-color: var(--primary-color, #ffa62b);
    color: #fff;
    border: none
}

.hero-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 220px;
    left: 300px;
    width: 900px;
    height: 180px;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.hero-list {
    width: 30%;
    height: 100%;
    list-style: none;
    -webkit-box-shadow: 0 13px 19px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, .07)
}

.hero-item-logo,
svg {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-left: 20px
}

svg {
    fill: #00A0C1
}

.hero-list:hover {
    background-color: #00a0c1
}

.hero-list:hover svg {
    fill: white
}

.hero-list:hover h3,
.hero-list:hover p {
    color: #fff
}

.hero-item-title {
    color: var(--text-color, #252b42);
    font-size: 21px;
    line-height: 32px;
    letter-spacing: .1px;
    margin-left: 20px
}

.hero-item-p {
    color: var(--second-text-color, #737373);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: .2px;
    margin-left: 20px;
    margin-top: 5px
}